div {
  border: 1px solid;
}

.parent {
  width: 300px;
  height: 100px;
  display: flex;
  /* color:rgb(237, 160, 244); */
}

.parent div {
  flex: 1;
  text-align: center;
  padding: 42.5px 0;
  color: gray;
  border-color: black;
}
